* {
    
}

:root {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(255, 251, 251);
    display: flex;
    margin: 0;
    padding: 0;
}

/* LEFT SECTION */

.logo-container {
    height: 100vh;
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h2 {
    font-size: 4em;
    margin: 0;
    color: #5ec1df;
    letter-spacing: .5rem;
    margin-bottom: -4.5rem;
}

.sign-up {
    font-size: 1.5rem;
    color: #5ec1df;
    text-shadow: #92aca4;
}

.credit {
    color: #973d20;
}

.credit:visited {
    color: #3f241b
}

img {
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* RIGHT SECTION */


.right-container,
form {
    color: rgb(255, 251, 251);
    display: flex;
    flex-direction: column;
    flex: 1.5;
    background-color: #fbea5e;
    gap: 35px;
    justify-content: center;
    padding-left: 8%;
}


.form-container p {
    display: flex;
    flex-direction: column;
}

.rowOne,
.rowTwo,
.rowThree {
    display: flex;
    gap: 12rem;
}

h1 {
    font-size: 4rem;
    margin: 0;
    color: #973d20;
}

.create-account {
    font-size: 1.5rem;
    color: #973d20;
}

a[href="#"] {
    color: #5ec1df;
}

.create-account:visited {
    color: #3f241b
}

label {
    color: #3f241b;
    margin-bottom: 5px;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 4px;
    outline: none;
    border-color: #ecdd50;
}

input:valid {
    border: 2px solid rgb(6, 170, 94);
    box-shadow: 0 0 10px rgb(6, 170, 94);
}

input:focus {
    border: 2px solid #61c3e0;
    box-shadow: 0 0 10px #61c3e0;
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid rgb(170, 6, 6);
    box-shadow: 0 0 10px rgb(170, 6, 6);
}

.submitButton {
    background-color: #5ec1df;
    border-radius: 20px;
    border: none;
    font-family: 'JelleeBold';
    color: white;
    height: 75px;
    width: 300px;
    font-size: 1rem;
}



.error::after {
    color: rgb(170, 6, 6);
    font-size: .75rem;
    content: '*Passwords do not match';
}

p {
    height: 76px;
}

.errorMatch {
    border: 2px solid rgb(170, 6, 6) !important;
    box-shadow: 0 0 10px rgb(170, 6, 6) !important;
}